.header-breadcrumb {
  color: #77c720;
  font-family: Dosis;
}

.header {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.address {
  color: #636363;
  font-family: Dosis;
}

.badge-main {
  background-color: #77c720;
  font-family: Dosis;
  font-weight: 500;
  border-radius: 5px;
}

.icon-btn {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  flex: 0 0 auto;
}

.icon-btn svg {
  font-size: 21px;
  transition: color 0.3s ease;
}

.price-main {
  font-family: Dosis;
  font-size: 30px;
}

.price-main-1 {
  font-family: Dosis;
  font-size: 24px;
}

.icon-btn:hover {
  background-color: #000;
  border-color: #000;
  color: white;
  transition: all 0.3s ease;
}

.icon-btn:hover svg {
  color: #fff !important;
}
